* {
  box-sizing: border-box;
  margin: 0;
}

.title {
  margin: 2rem auto;
  width: fit-content;
}

.form {
  display: flex;
  flex-direction: column;
  width: 40%;
  padding: 2rem;
  gap: 2rem;
  margin: auto;
  border: 1px solid black;
  box-shadow: 9px 10px 38px rgba(94,82,82,0.75);
  -webkit-box-shadow: 9px 10px 38px rgba(94,82,82,0.75);
  -moz-box-shadow: 9px 10px 38px rgba(94,82,82,0.75);
}

.fieldset {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 1rem;
}

.inputField {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.required::after {
  content: '*';
  color: crimson;
}

.phone {
  display: flex;
  flex-direction: row;
  align-items: baseline;
  gap: 0.3rem;
  width: 100%;
}

.phoneField {
  width: 100%;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.password-requirements {
  font-size: smaller;
  color: lightslategrey;
  margin: -1rem auto 0.3rem;
}

.button {
  height: 2rem;
  background-color: turquoise;
  border-radius: 0.5rem;
}

.error {
  border: 1px solid crimson;
}
