<h1 class="title">Registration</h1>

<form class="form" [formGroup]="registrationForm" (ngSubmit)="onSubmit()">

  <label class="input-field">
    <span>username<span class="required"></span>:</span>

    <input
      [class.error]="usernameControl.invalid && usernameControl.touched"
      formControlName="username"
      placeholder="your name"
      type="text">

    <span
      *ngIf="usernameControl.invalid && usernameControl.touched"
      class="error-message">
      {{ getErrorMessage(usernameControl) }}
    </span>
  </label>

  <label class="input-field">
    <span>email<span class="required"></span>:</span>

    <input
      [class.error]="emailControl.invalid && emailControl.touched"
      formControlName="email"
      placeholder="your email"
      type="text">

    <span
      *ngIf="emailControl.invalid && emailControl.touched"
      class="error-message">
      {{ getErrorMessage(emailControl) }}
    </span>
  </label>


  <fieldset class="fieldset" formGroupName="credentials">
    <legend>password</legend>

    <label class="input-field">
      <span>password<span class="required"></span>:</span>

      <input
        [class.error]="passwordControl.invalid && passwordControl.touched"
        formControlName="password"
        placeholder="password"
        type="password"
        autocomplete="true">

      <span
        *ngIf="passwordControl.invalid && passwordControl.touched"
        class="error-message">
        {{ getErrorMessage(passwordControl) }}
      </span>
    </label>

    <label class="input-field">
      <span>password again<span class="required"></span>:</span>

      <input
        [class.error]="confirmPasswordControl.invalid && confirmPasswordControl.touched"
        formControlName="confirmPassword"
        placeholder="password again"
        type="password"
        autocomplete="true">

      <span
        *ngIf="confirmPasswordControl.invalid && confirmPasswordControl.touched"
        class="error-message">
        {{ getErrorMessage(confirmPasswordControl) }}
      </span>
    </label>
  </fieldset>

  <fieldset class="fieldset" formGroupName="address">
    <legend>address</legend>

    <label class="input-field">street:
      <input formControlName="street" placeholder="street" type="text">
    </label>

    <label class="input-field">city:
      <input formControlName="city" placeholder="city" type="text">
    </label>

    <label class="input-field">state:
      <input formControlName="state" placeholder="state" type="text">
    </label>

    <label class="input-field">zip:
      <input
        [class.error]="zipControl.invalid && zipControl.touched"
        formControlName="zip"
        placeholder="zip"
        type="number">

      <span
        *ngIf="zipControl.invalid && zipControl.touched"
        class="error-message">
        {{ getErrorMessage(zipControl) }}
      </span>
    </label>

    <label class="input-field">phone number:
      <div class="phone">
        <span>+36</span>

        <input
          class="phone-field"
          [class.error]="phoneNumberControl.invalid && phoneNumberControl.touched"
          formControlName="phoneNumber"
          placeholder="phone number"
          type="number">

        <span
          *ngIf="phoneNumberControl.invalid && phoneNumberControl.touched"
          class="error-message">
          {{ getErrorMessage(phoneNumberControl) }}
        </span>
      </div>
    </label>
  </fieldset>

  <button [disabled]="registrationForm.invalid" class="button" type="submit">Submit</button>
</form>
